<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Welcome to Jing's 99 cats homepage! </h1>
    <p>
      You have successfully signed up to 99cats.come,
      your username is : <%= @user.username %> <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>
    </p>

  <p>
    Thanks for joining us and have a great day!
  </p>
  </body>
</html>
